
.invalid{
	margin-top:4px;
	text-align:center;
	letter-spacing:2px;
	color:red;
}
.plus{
	margin-top:5px;
	width:60px;
	height:60px;
}
.delete{
	margin-top:5px;
	margin-left:48vh;
	margin-right:1vh;
	width:60px;
	height:60px;
}
.delete1{
	margin-top:1px;
	margin-left:20px;
	margin-bottom:5px;
	width:68px;
	height:68px;
}
.Friends{
	width:100%;
	margin-top:1px;
	height:100%;
	background-color:#E2E8DB;
}
.search{
	height:10vh;
	display:flex;
	justify-content:center;
	border-radius:10px;
	background-color:#D0D0D0;
	margin-bottom:15px;
}
.input1{
	height:25%;
	width:20%;
	border-radius:5px;
	padding:20px;
  	border: none;
	margin-top:6px;
	margin-bottom:3px;
	margin-right:5vh;
	margin-left:70vh;
 	text-decoration: none;
}
